._3uApM{
    margin-top: 544px;
    margin-left: 600px !important;
    margin-right: 600px !important;


}
._1Lo2h{
    /* width: 50%; */

    margin:0 350px 0 350px !important;
} 
/* .jss2{
    margin-top:114px;

} */

/* ._3uApM{
    margin:0 350px 0 350px !important;

}  */


._2pGos{
    text-decoration: none !important;
}