.App {
    font-family: sans-serif;
    text-align: center;
  }


  /* background: rgb(7,31,88);
background: linear-gradient(107deg, rgba(7,31,88,1) 32%, rgba(0,50,167,1) 71%, rgba(110,79,204,1) 100%); */